td {
  text-align: center;
  padding-left:2px;
  padding-right:2px;
  width:25px;
  border: 1px solid #CCCCCC;
   }
   a:hover{color:red;}
a {
  text-decoration: none;
  color:#CCCCCC
  }
  .red {
  color:#FF0033;
  font-size:15px;
.text {
  color:#666666;
  font-size:18px;
        }
